
body {
  background: #ffffff;
  font-size: 16px;
  line-height: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  overflow: hidden;
  min-width: 320px;
}


p {
  font-family: 'Geo', sans-serif;
}



