/*===================
 page-4
 ====================*/

.page-4 {
  background: #ffffff;

  article {
    padding: 63px 5px 55px 5px;
  }

  h2 {
    color: $text-page4-1;
    font-size: 2.25em;
    font-weight: 100;
    line-height: 2.25em;
    }

  p {
    color: $text-page4-2;
    font-size: 0.75em;
    font-weight: 300;
    margin: 15px auto;
    }
}

