
/// color


$color-main: rgb(199, 198, 208);

$color-second: rgb(1, 73, 161);

$bg-dark: rgb(50, 50, 50);

$bg-bright: rgb(223, 173, 0);


$text-color-1: rgb(93, 105, 129);

$text-color-2: rgb(124, 140, 160);



$text-color-3: rgb(150, 150, 150);

$text-page4-1: rgb(100, 100, 100);
$text-page4-2: rgb(50, 50, 50);


